@import '../../styles/_variables';

.app__header {
  height: $header-height;
  display: flex;
  align-items: center;
  color: #FFF;
  background-color: $header-color;
  box-shadow: $box-shadow-dark;
  padding-left: $viewport-padding-left;
  padding-right: $viewport-padding-right;
  position: sticky;
  top: 0;
  z-index: 9;

  .brand {
    flex: 1;
  }

  .search-list {
    position:absolute;
    top: 36px;
    width: calc(100% + 10px);
    background-color: #FFF;
    color: black;
    box-shadow: 4px 4px 8px 0px #CCC, -4px 0px 8px #CCC;
    max-height: 200px;
    overflow: auto;
    font-size: 14px;

    .list-item {
      padding: 10px 8px;
      cursor: pointer;
      border-bottom: 1px solid #eee;

      &:hover {
        background-color: var(--green-100);
      }

      &:first-child {
        border-top: 1px solid #eee;
      }
    }
  }
}

